$white: #fafafa;
$shadow: #c5c5c5;
$grey: #adadad;

$text-color-main: #0F0F11;
$text-color-second: #70787e;

$background-color-orange: #dba50f;
$background-color-green: #3e8f19;


$border-color-orange: #e0a90f;
$border-color-green: #51b921;

